
<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                                <form class="mx-1 mx-md-4" [formGroup]="signupForm">

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input formControlName="firstname" type="text" id="form3Example1c" class="form-control" placeholder="First Name" />
                                        </div>
                                    </div>
                                    <small *ngIf="signupForm.controls['firstname'].dirty && signupForm.hasError('required','firstname')" class="text-danger" style="color: red;">Firstname is required</small>
                                    
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input formControlName="lastname" type="text" id="form3Example3c" class="form-control" placeholder="Last Name"/>
                                        </div>
                                    </div>
                                    <small *ngIf="signupForm.controls['lastname'].dirty && signupForm.hasError('required','lastname')" class="text-danger" style="color: red;">Lastname is required</small>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input formControlName="email" type="email" id="form3Example4c" class="form-control" placeholder="Email"/>
                                        </div>
                                    </div>
                                    <!-- <div *ngIf="(signupForm.get('email')?.invalid && signupForm.get('email')?.touched) || signupForm.get('email')?.dirty">
                                        <small *ngIf="signupForm.get('email')?.errors?.['pattern']" class="text-danger">Please enter valid email address</small>
                                      </div> -->
                                    <div *ngIf="(signupForm.get('email')?.invalid && signupForm.get('email')?.touched) || signupForm.get('email')?.dirty">
                                        <small *ngIf="signupForm.get('email')?.errors?.['email']" class="text-danger">Please enter valid email address</small>
                                      </div>
                                    <!-- <small *ngIf="signupForm.controls['email'].dirty && signupForm.hasError('required','email')" class="text-danger" style="color: red;">Email is required</small> -->

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input formControlName="username" type="username" id="form3Example4cd" class="form-control" placeholder="Username"/>
                                        </div>
                                    </div>
                                    <small *ngIf="signupForm.controls['username'].dirty && signupForm.hasError('required','username')" class="text-danger" style="color: red;">Username is required</small>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input formControlName="password" type="password" id="form3Example4cd" class="form-control" placeholder="Password"/>
                                        </div>
                                    </div>
                                    <small *ngIf="signupForm.controls['password'].dirty && signupForm.hasError('required','password')" class="text-danger" style="color: red;">Password is required</small>

                                    <div class="form-check d-flex justify-content-center mb-5">
                                        <div class="text-center pt-4 text-muted">Already have an account?<a href="forget" routerLink="/">Login</a></div>
                                    </div>

                                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                        <button (click)="onSignup()" type="button" class="btn btn-primary btn-lg">Register</button>
                                    </div>

                                </form>

                            </div>
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                                    class="img-fluid" alt="Sample image">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>